@import './reset.css';

/* Font Imports */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: optional; /* Prevents flash by not switching fonts if not loaded */
}

html {
  scrollbar-gutter: stable;
}

/* Inter Font Configuration */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'salt' on, 'ss01' on, 'ss03' on, 'ss04' on;
}



/* Custom Scrollbar */
/* Webkit browsers (Chrome, Safari, Edge) */
html::-webkit-scrollbar,
body::-webkit-scrollbar,
*::-webkit-scrollbar {
  width: 6px;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  transition: background 0.2s ease;
  border-radius: 9999px;
}

html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2);
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track,
*::-webkit-scrollbar-track {
  background: transparent;
}


